<!DOCTYPE html>
<html>
<head>
    <title>EduMentor AI - Login</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>

<body>

<div class="container">

    <div class="card">

        <h1>EduMentor AI</h1>

        <p>Personalized Learning System</p>

        <h2>Login</h2>

        <form method="POST">

            <input
                type="email"
                name="email"
                placeholder="Email"
                required
            >

            <input
                type="password"
                name="password"
                placeholder="Password"
                required
            >

            <button type="submit">
                Login
            </button>

        </form>

        <p>
            Don't have an account?
            <a href="/register">Register</a>
        </p>

    </div>

</div>

</body>
</html>